body {
    background: #fbf2e9;
    font-family: Arial;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-top: 15%;
}

table {
    width: 100%;
    margin: auto;
    background: #eee;
    padding: 10px;
    box-shadow: 5px 4px 10px rgb(128, 128, 128);
}

#setInfo {
    width: 0;
}

input[type="button"]:hover {
    outline: 2px solid #fbf2e9;
    outline-offset: -3px;
}

#exit {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

    #exit:active {
        color: red;
    }

p {
    text-align: end;
}

button {
    width: 100%;
    height: 20pt;
    margin-top: 10px;
    background: #ffffff;
}

    button:hover {
        background: #fbf2e9;
    }



select {
    height: 17pt;
    width: 75%;
}

input {
    width: 75%;
}
